{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h3>Displaying last {{ tweetnum }} tweets for user <strong>{{ screen_name }}</strong></h3>
        {% for i in 1..tweetnum %}
            <div class="panel panel-default">
              <div class="panel-body">{{ tweets[i-1] }}</div>
            </div>
        {% endfor %}
</div>
{% endblock %}
